@keyframes spinLogo {
    0% {
        transform: rotate(-45deg);
        color: tomato;
    }
    25% {
        color: gold;
    }
    50% {
        transform: rotate(0);
        color: #6bd31c;
    }
    100% {
        transform: rotate(45deg);
        color: #fff;
    }
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
body
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.todoContainer
{
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.todoButtonSet
{
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    background-color: #293859;
    width: 70px;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #293859;
}
.todoButtonSet > .todoBtn
{
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
}
.todoButtonSet > .todoBtn:hover
{
    color: #6bd31c;
    font-size: 35px;
}
.todoButtonSet > .todoBtn:last-child
{
    margin-bottom: 0;
}
.todoChose
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #6bd31c;
    font-size: 27px;
}
.todoChose__input
{
    display: none;
}
.todoChose__switch
{
    background-color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px #293859;
}
.todoChose__switch > i
{
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.todoChose__input:checked + .todoChose__switch
{
    box-shadow: none;
}
.todoChose__input:checked + .todoChose__switch > i
{
    opacity: 1;
    visibility: visible;
}
.todoDelete,
.todoEditBtn
{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #fff;
    font-size: 20px;
    line-height: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.todoEditBtn
{
    right: 40px;
}
.todoDelete:hover
{
    color: tomato;
}
.todoEditBtn:hover
{
    color: gold;
}
.taskToggleComplete
{
    font-size: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.taskToggleComplete > i
{
    color: #293859;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.taskToggleComplete > i:hover,
.taskToggleComplete > i.complete
{
    color: tomato;
}
.todoItemHeader
{
    height: 40px;
    background: #6bd31c;
    border-radius: 10px 10px 0 0;
}
.todoHeader
{
    background: #293859;
    height: 60px;
    box-shadow: 0 0 5px #000;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.logo
{
    color: #fff;
    font-size: 35px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    animation: spinLogo 4s ease-in-out infinite alternate;
}
.logo:hover
{
    color: #6bd31c;
}
.todoAddForm
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.todoFormInner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.todoAddhBtn
{
    background: #6bd31c;
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    padding: 0;
    font-size: 20px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
}
.todoAddhBtn:hover
{
    background: #52a612;
}
.todoInput
{
    border: none;
    height: 40px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 150px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.todoInput:focus
{
    width: 250px;
}
.todoList
{
    list-style-type: none;
    padding: 0 0 20px 0;
    margin: 60px 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.todoItem
{
    width: calc(50% - 10px);
    border-radius: 10px;
    box-shadow: 0 0 5px #293859;
    min-height: 150px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}
.todoItemInner
{
    padding: 20px 30px 20px 20px;
    display: block;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.todoItemInner[data-complete="true"]
{
    text-decoration: line-through;
    color: grey;
}
.appTodo,
.todoInner
{
    height: 100%;
}
.todoMain
{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.todoEdit
{
    position: absolute;
    left: 0;
    top: 40px;
    background: #fff;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 0 0 5px 5px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.todoEdit[data-open="false"]
{
    opacity: 0;
    visibility: hidden;
}
.todoEdit[data-open="true"]
{
    opacity: 1;
    visibility: visible;
}
.todoEditInner
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.todoEditInput
{
    box-shadow: 0 0 5px #6bd31c;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 50px 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}
.todoEditEnter
{
    background: transparent;
    border: none;
    right: 0;
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    padding: 0;
    color: #6bd31c;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.todoEditEnter:hover
{
    color: #293859;
}
.todoEmpty
{
    height: 80px;
}
footer
{
    height: 80px;
    background: #293859;
    margin-top: -80px;
    position: relative;
    z-index: 999;
    box-shadow: 0 0 5px #293859;
}
@media screen and (max-width: 576px)
{
    .todoItem
    {
        width: 100%;
    }
}
