<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>VueJS</title>

        <link rel="stylesheet" href="css/reboot.css" />
        <link rel="stylesheet" href="css/grid.css" />
        <link rel="stylesheet" href="css/ionicons.min.css" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="js/vue.js"></script>
        <script src="js/jquery-2.0.0.min.js"></script>
    </head>
    <body>
        
        <div id="app_todo">
            <h1>
                <span class="logo"><i class="ion-no-smoking"></i></span> {{ todo_title }}
            </h1>

            <div id="app_todo_box">
                <div class="container">
                    <div class="row">
                        <div class="cyfral_clock" v-if="showClock">
                            <button type="button" class="cyfral_clock_close" @click="closeCyfral"><i class="ion-close-round"></i></button>
                            <span id="clock_date"></span>
                            <div class="clock_box">
                                <span id="clock_hours"></span>:<span id="clock_minuts"></span>:<span id="clock_seconds"></span>
                            </div>
                            <div id="clock_icon">
                                <i class="ion-ios-sunny" v-if="clockIsDay"></i>
                                <i class="ion-ios-moon" v-if="clockIsNight"></i>
                            </div>
                        </div>
                        <form id="todo_form">
                            <input type="text" v-model="input" autofocus/>
                            <button @click.prevent="saveToDo" class="add_task"><i class="ion-plus-round"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <ul class="todo_list">
                        <li v-for="(todo, index) in stor">
                            <button type="button" class="edit_btn" @click="editTask(index)"><i class="ion-ios-compose"></i></button>
                            <div class="todo_body">
                                <div class="todo_name" :class="{'strike': todo.status}">
                                    <p v-if="todo.editmode">{{ todo.name }}</p>
                                    <div :class="{'read_task': true}" v-if="todo.hidden">
                                        <input type="text" v-model="editVal"/>
                                        <button type="button" class="edit_compl" @click="saveEditTask(index)"><i class="ion-checkmark-round"></i></button>
                                        <button type="button" class="edit_cancel"><i class="ion-close-round"></i></button>
                                    </div>
                                </div>
                                    <div class="button_set">
                                    <button type="button" class="success_btn" @click="completeTask(index)"><i class="ion-checkmark-round"></i></button>
                                    <button type="button" class="delete_btn" @click="deleteTask(index)"><i class="ion-close-round"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>